* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 15px;
}

.container {
  margin: 0 auto;
  max-width: 1270px;
}
.note-content {
  color: #8786ad;
}

.semi-bold-600 {
  font-weight: 600;
  line-height: 27px;
  font-style: 20px;
}

.col-blue {
  color: #0fafe9;
}

/* Header */
.header {
  padding-top: 30px;
}

.module-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-left {
  display: flex;
  align-items: center;
}

.logo {
  width: 135px;
}

.logo img {
  width: 100%;
}

.nav-left .nav ul {
  display: flex;
  margin: 0 30px;
}

.nav-left .nav ul li {
  list-style: none;
  margin: 0px 20px;
}

.nav-left .nav ul li a {
  text-decoration: none;
  font-weight: 400;
  color: #0b0b0c;
}

.nav-right {
  display: flex;
  align-items: center;
}

.nav-right .btn-account {
  margin-left: 35px;
  background-color: #0fafe9;
  border-radius: 10px;
  color: white;
  border: none;
  padding: 15px 50px;
}

.nav-right .icon-nav {
  margin: 0px 15px;
  display: inline-block;
}

/* Banner */
.banner {
  margin: 70px 0;
}

.module-banner {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.module-content {
  padding-right: 80px;
}

.module-content form {
  width: 100%;
  margin-top: 40px;
  display: flex;
}

.module-content .btn-search {
  background-color: #0fafe9;
  border-radius: 0 7px 7px 0;
  color: white;
  border: none;
  padding: 15px 50px;
}

.module-content .input-search {
  width: 100%;
  padding: 15px 25px;
  border-radius: 7px 0 0 7px;
  border: 1px solid #ebebeb;
}

.module-content .desc-banner {
  font-size: 18px;
  line-height: 29px;
  margin-top: 40px;
  color: #656567;
}

.module-img img {
  width: 100%;
}

.module-content .hear {
  font-size: 35px;
  font-weight: 700;
  line-height: 54px;
}

/* App */
.app-content {
  font-size: 18px;
  line-height: 27px;
  font-weight: 600;
  color: #0fafe9;
  text-align: center;
}

.app .app-link ul {
  display: flex;
  justify-content: space-between;
  margin: 30px 0px;
}

.app .app-link ul li {
  list-style: none;
  padding: 20px 70px;
}

.app .app-link ul li img {
  width: 90px;
}

/* Main */
.main {
  display: flex;
}

.main .main-menu {
  border: none;
  width: 330px;
  border-radius: 7px;
}

.main .main-menu .browse {
  background-color: #0fafe9;
  border-radius: 7px 7px 0 0;
  color: #fff;
  font-size: 25px;
  font-weight: 600;
  padding: 15px 50px 15px 25px;
}

.main .main-menu ul li {
  list-style: none;
  padding: 15px 50px 15px 25px;
  border: 1px solid #ebebeb;
}

.main .main-menu ul li:hover {
  background: rgba(15, 175, 233, 0.1);
}

.main .main-menu i {
  margin-right: 10px;
}

/* Main-login */
.main .main-login {
  width: 330px;
  background: #0fafe91a;
  text-align: center;
  padding: 20px 0;
  border-radius: 10px;
  margin: 40px 0;
}

.main .main-login .semi-bold-600 {
  padding: 10px 0;
}

.main .main-login .login-email {
  margin: 20px 50px;
  background: #fff;
  border-radius: 7px;
}

.main .main-login .input__login-email {
  border: none;
  padding: 10px 10px;
}

.main .main-login .btn-sub {
  background: rgba(15, 175, 233, 0.1);
  border: 1px solid #0fafe9;
  padding: 10px 50px;
  border-radius: 10px;
  color: #0fafe9;
}

/* Parameter */
.parameter {
  width: 330px;
  text-align: center;
  border: 1px solid #ebebeb;
  padding: 20px 0;
  border-radius: 10px;
}

.parameter .img-percent {
  padding-bottom: 15px;
}

.parameter .img-percent .percent {
  position: absolute;
  font-weight: 600;
  font-size: 30px;
}

.parameter .statistics {
  font-weight: 700;
  font-size: 35px;
  padding: 15px 0;
}

/* Download */
.download {
  width: 330px;
  text-align: center;
  border-radius: 10px;
  background: rgba(248, 197, 41, 0.12);
  margin-top: 40px;
}

.download img {
  width: 100%;
}

.download .ads-carbon {
  padding: 20px 10px;
  line-height: 25px;
}

.download .ads-link {
  padding: 20px 0 10px 10px;
}

/* Main container */
.main-container {
  margin: 0 20px;
}

.main-container .content-note {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 30px;
  background: rgba(15, 175, 233, 0.1);
  padding: 30px;
  border-radius: 10px;
}

.main-container .content-note .note {
  display: flex;
}

.main-container .content-note .note .note-icon {
  padding: 10px;
  background: rgba(15, 175, 233, 0.1);
  border-radius: 10px;
  color: #0fafe9;
  margin-right: 10px;
}

.main-container .content-note .note .note-content {
  line-height: 24px;
}

.content-img {
  padding: 40px 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 15px;
}

.content-img div {
  margin-top: 10px;
}

.content-img img {
  width: 100%;
  border-radius: 7px;
}

.content-img .content-note-img {
  line-height: 27px;
  font-size: 18px;
}

/* footer */
.header-footer {
  background: #e0f0f6;
  padding: 0 80px 0 107px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 280px;
  overflow: hidden;
  border-radius: 10px;
}

.header-footer .btn-contact {
  margin-right: 30px;
  background-color: #0fafe9;
  border-radius: 10px;
  color: white;
  border: none;
  padding: 15px 50px;
}

.header-footer .footer-title {
  width: 39%;
  margin: auto 0;
}

.header-footer .footer-title .title-content {
  font-weight: 700;
  font-size: 25px;
  color: #0fafe9;
}

.header-footer .footer-title .title {
  margin: 30px 0;
}

.header-footer .footer-img {
  border-radius: 10px;
  display: flex;
  width: 50%;
  height: 100%;
  padding-left: 50px;
  position: relative;
}

.header-footer .footer-img>img {
  height: 300px;
  object-fit: cover;
}
.header-footer .footer-img>img:last-child {
  height: 240px;
  position: absolute;
  bottom: 0;
  right: 0px;
}

/* Footer new */
.footer-new .footer-new__title {
  margin: 50px 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 50px;
}

.footer-new .footer-new__title .p-30 p {
  margin: 10px 0;
}

/* Footer end */
.footer-end {
  display: flex;
  justify-content: space-between;
  margin: 30px 0;
}

.footer-end .footer-icon {
  padding: 0 100px;
}

.footer-end .footer-icon i {
  padding: 5px;
}

.col-1 {
  color: #3b5998;
}

.col-2 {
  color: #ea4c89;
}

.col-3 {
  color: #007BB5;
}

.col-4 {
  color: #C32AA3;
}

.col-5 {
  color: #489DFF;
}
