* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 13px;
}

.container {
  margin: 0 auto;
  max-width: 1270px;
}

.color--text5 {
  color: #8786ad;
}

/* CSS button */


/* Header */
.header {
  padding-top: 30px;
}

.module-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-left {
  display: flex;
  align-items: center;
}

.logo {
  width: 135px;
}

.logo img {
  width: 100%;
}

.nav-left .nav ul {
  display: flex;
  margin: 0 30px;
}

.nav-left .nav ul li {
  list-style: none;
  margin: 0px 20px;
}

.nav-left .nav ul li a {
  text-decoration: none;
  font-weight: 400;
  color: #0b0b0c;
}

.nav-right {
  display: flex;
  align-items: center;
}

.nav-right .btn-account {
  margin-left: 35px;
  background-color: #0fafe9;
  border-radius: 10px;
  color: white;
  border: none;
  padding: 15px 50px;
}

.nav-right .icon-nav {
  margin: 0px 15px;
  display: inline-block;
}

/* Content */
.content {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-gap: 70px;
  margin: 70px 0;
}
.content .content__logo {
  display: flex;
}

.content__logo .wireDugi{
  font-size: 35px;
  font-weight: 400;
  padding: 0 10px;
}

.content .content__title {
  font-size: 20px;
  padding: 35px 0;
}

.content .content-banner .slide {
  width: 100%;
}

.content .content-banner video {
  width: 100%;
  height: 450px;
  border-radius: 7px;
}

/* Content menu */
.content-menu {
  width: 330px;
}

.content-menu .content-menu__title {
  text-align: center ;
}

.content-menu form {
  width: 100%;
  display: flex;
  margin: 20px 0;
}

.content-menu .input-search {
  padding: 10px 25px;
  border-radius: 7px 0 0 7px;
  border: 1px solid #ebebeb;
}

.content-menu .btn-search {
  background-color: #0fafe9;
  border-radius: 0 7px 7px 0;
  color: #fff;
  border: none;
  padding: 10px 25px;
}

/* Cart */
.cart .licence-price {
  background-color: #0fafe9;
  border-radius: 7px 7px 0 0;
  color: #fff;
  font-size: 13px;
  padding: 15px 20px 15px 25px;
  display: flex;
  justify-content: space-between;
}

.cart .licence-price p {
  margin: auto 0;
}

.cart .licence-price span {
  font-weight: 600;
  font-size: 25px;
}

.cart ul li {
  list-style: none;
  padding: 15px 10px 15px 20px;
  border: 1px solid #ebebeb;
  display: flex;
}

.cart ul li:last-child {
  list-style: none;
  padding: 15px 20px 15px 20px;
  border: 1px solid #ebebeb;
  display: flex;
  justify-content: space-between;
}

.cart .cart-price ul li svg {
  margin-right: 5px;
}

.cart .cart-btn {
  text-align: center;
  margin: 25px;
}

.cart .cart-btn button {
  background-color: #0FAFE9;
  border: none;
  color: #fff;
  height: 50px;
  line-height: 50px;
  border-radius: 7px;
  width: 250px;
}

/* Data price */
.data-price {
  background: rgba(15, 175, 233, 0.1);
  padding: 15px 0 10px 0;
}

.data-price div{
  padding: 0px 20px 10px 20px;
  display: flex;
  justify-content: space-between;
}

.data-price div .total-price{
  font-weight: 600;
  font-size: 18px;
  color: #489DFF;
}

/* Footer img */
.header-footer {
  background: #e0f0f6;
  padding: 0 80px 0 107px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 280px;
  overflow: hidden;
  border-radius: 10px;
}

.header-footer .btn-contact {
  margin-right: 30px;
  background-color: #0fafe9;
  border-radius: 10px;
  color: white;
  border: none;
  padding: 15px 50px;
}

.header-footer .footer-title {
  width: 39%;
  margin: auto 0;
}

.header-footer .footer-title .title-content {
  font-weight: 700;
  font-size: 25px;
  color: #0fafe9;
}

.header-footer .footer-title .title {
  margin: 30px 0;
}

.header-footer .footer-img {
  border-radius: 10px;
  display: flex;
  width: 50%;
  height: 100%;
  padding-left: 50px;
  position: relative;
}

.header-footer .footer-img>img {
  height: 300px;
  object-fit: cover;
}
.header-footer .footer-img>img:last-child {
  height: 240px;
  position: absolute;
  bottom: 0;
  right: 0px;
}

/* Footer new */
.footer-new .footer-new__title {
  margin: 50px 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 50px;
}

.footer-new .footer-new__title .p-30 p {
  margin: 10px 0;
}

.footer-end {
  display: flex;
  justify-content: space-between;
  margin: 30px 0;
}

.footer-end .footer-icon {
  padding: 0 100px;
}

.footer-end .footer-icon i {
  padding: 5px;
}

.col-1 {
  color: #3b5998;
}

.col-2 {
  color: #ea4c89;
}

.col-3 {
  color: #007BB5;
}

.col-4 {
  color: #C32AA3;
}

.col-5 {
  color: #489DFF;
}